<p>
  <mat-toolbar class="toolbarP">
    <div class="container">
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-3 divCenter">
        <span class="Titulo">TytusX - OLC2 - JUNIO 2021</span>
      </div>
      <div class="col-md-3">
      </div>
     </div>
     <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-3 divCenter">
        <span class="Titulo">201314408 - Erick Hernandez</span>
      </div>
      <div class="col-md-3">
      </div>
     </div>
    </div>

  </mat-toolbar>
</p>

<div class="row"> 
  <div class="col-md-1">

  </div>
  <div class="col-md-4">
    <button mat-raised-button color="primary" style="margin-right: 2px;"(click)="parseValueXML()">ASC</button>
    <button mat-raised-button color="primary" style="margin-right: 2px;"(click)="parseValueXML()">DESC</button>
    <input type="file" id="file" (change)="fileChanged($event,1)" /> 
    <label for="file" style="width: 100px; padding-top: 8px;margin-right: 2px;">ABRIR</label>
    <button mat-raised-button color="primary" style="margin-right: 2px;"(click)="SaveDemo1()">GUARDAR</button>
    <button mat-raised-button color="primary" style="margin-right: 2px;"(click)="CleanEditor1()">LIMPIAR</button>
    <button mat-raised-button color="primary" style="margin-right: 2px;">REPORTES</button>
    <button mat-raised-button color="primary" style="margin-right: 2px;" (click)="D3()">AST</button>
    <button mat-raised-button color="primary" style="margin-right: 2px;">TABLA DE SIMBOLOS</button>
  </div>

  <div class="col-md-1">
  </div>
  <div class="col-md-4">
    <button mat-raised-button color="primary" style="margin-right: 2px;"(click)="CleanEditor2()">NUEVO</button>
    <input type="file" id="file2" (change)="fileChanged($event,2)" /> 
    <label for="file2" style="width: 100px; padding-top: 8px;margin-right: 2px;">ABRIR</label>
    <button mat-raised-button color="primary" style="margin-right: 2px;" (click)="SaveDemo2()">GUARDAR</button>
    <button mat-raised-button color="primary" style="margin-right: 2px;" (click)="CleanEditor2()">LIMPIAR</button>
  </div>
</div>

<br/>

<div class="row"> 
  <div class="col-md-1">

  </div>
  <div class="col-md-4">
    <button mat-raised-button color="primary" style="margin-right: 2px;background-color: blueviolet;"(click)="parseValueXML()">TRANSLATE</button>
  </div>

</div>

<br/>
<br/>

<div class="row"> 
  
  <div class="col-md-1">
  </div>

  <div class="col-md-10">
    <span class="Titulo" style="color: black;font-size: 16px;">XPATH:</span>
  </div>
</div>
<div class="row"> 
  
  <div class="col-md-1">
  </div>

  <div class="col-md-10">
    <textarea matInput placeholder="" [(ngModel)]="this.dat.Cod_tab3" cols="151" rows="1" style="resize: none;"></textarea>
  </div>
</div>

<br/>
<br/>
<div class="row"> 
  <div class="col-md-1">
  </div>
  <div class="col-md-4">
    <textarea matInput placeholder="XML HERE" [(ngModel)]="this.dat.Cod_tab1"  cols="70" rows="30" style="resize: none;"></textarea>
  </div>

  <div class="col-md-1">
  </div>
  <div class="col-md-4">
    <textarea matInput placeholder="XQUERY CODE HERE" [(ngModel)]="this.dat.Cod_tab2" cols="70" rows="30" style="resize: none;"></textarea>
  </div>
</div>

<br/>
<div class="row"> 
  
  <div class="col-md-1">
  </div>

  <div class="col-md-10">
    <span class="Titulo" style="color: black;font-size: 16px;">SALIDA:</span>
  </div>
</div>
<div class="row"> 
  
  <div class="col-md-1">
  </div>

  <div class="col-md-10">
    <textarea matInput placeholder="" [(ngModel)]="this.dat.Cod_tab3" cols="151" rows="20" style="resize: none;"></textarea>
  </div>
</div>

<br/>
<div class="row"> 
  
  <div class="col-md-1">
  </div>

  <div class="col-md-10">
    <span class="Titulo" style="color: black;font-size: 16px;">AST GRAPH</span>
  </div>
</div>
<div class="row"> 
  
  <div class="col-md-1">
  </div>

  <div id = "graph" class="col-md-10">
  </div>
</div>
