/* Style the tab */
.tab {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color:  rgb(8, 49, 68);
}

/* Style the buttons that are used to open the tab content */
.tab button {
  color: white;
  font-size: 30px;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgb(221, 221, 221);
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: rgb(130, 207, 184);
}

/* Style the tab content */
.tabcontent1 {
  color: black;
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  background-color: white;
  height: 300px;
}

.areaEscritura{
  padding: 6px 12px;
  height: 200px;
}

.textoArea{
  font-size: 20px;
  width: 100%;
  height: 100%;
}


#main{
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
}

footer{
  background: #888;
  color: #fff;
  width: 80%;
  max-width: 900px;
  height: 150px;
  margin: 0 auto; 
}

#tabs{
  position: relative;
}

span.diana {
  position: fixed;
  display: none;
  }

.diana + a {
  display: block;
  float: left;
  height: 40px;
  line-height: 32px;
  padding: 0 10px;
  border: 1px solid #ddd;
  background-color: #eee;
  margin-bottom: -1px;
  border-radius: 8px 8px 0 0;
  margin-right: 10px;
  text-decoration:none;
}

.diana:target + a {
  background-color: #fff;
  border-bottom-color: #fff; 
}

#pnl_1, #pnl_2, #pnl_3{
  color: black;
  height: 361px;
  position: absolute;
  top: 31px;
  left: 0;
  border: none;
  clear: both;
  overflow: hidden;
}

#pnl_1 > div, #pnl_2 > div, #pnl_3 > div{
    opacity: 0;
    transition: all 0.1s ease;
    padding: 30px;
  }

#uno:target ~ #pnl_1, #dos:target ~ #pnl_2, #tres:target ~ #pnl_3{
  position: static;
  border: 1px solid #ddd;
}

  #uno:target ~ #pnl_1 > div, #dos:target ~ #pnl_2 > div, #tres:target ~ #pnl_3 > div{
    opacity: 1;
    transition: all 1s ease;
  }

  .boton {
    font: 700 1em Tahoma, Arial, Verdana, sans-serif;
    color: #fff; background-color: #59B0E5;
    border: 1px solid #0074a5;
    border-top: 1px solid #004370;
    border-left: 1px solid #004370;
    cursor: pointer;
  }
  
  .boton {
    width: auto; /* ie */
    overflow: visible; /* ie */
    padding: 3px 8px 2px 6px; /* ie */
  }
  
  .boton[type] {
    padding: 4px 8px 4px 6px; /* firefox */
  }
  