body {
  background-image: url("images.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.editor1
{        
float: left; 
margin-right: 20px;
margin-left: 20px;
border-radius: 4px;
}

.formato * {
  font-family: Arial, monospace;
  font-size: 24px;
  }

.editores
{
  width: 640px;
background-color: rgba(255, 255, 255, 0);        
float: left; 
margin-right: 2px;
border-radius: 4px;
} 

.consolas
{ 
 
  height: 100vh;
  float: left;
}

.labelConsola
{ 
margin-top: 95px;
border-radius: 4px;

}

.consola
{ 
  
 margin-top: 65px;
}

.componente
{ 
float: left; 
margin-right: 10px;
margin-left: 40px;
margin-top: 20px;
margin-bottom: 15px;
border-radius: 4px;
}

.componente2
{ 
float: left; 
margin-right: 10px;
margin-left: 250px;
margin-top: 30px;
margin-bottom: 15px;
border-radius: 4px;
}


.tab {
  background-color: rgba(255, 255, 255, 0);  
overflow: hidden;
border: 1px solid #ccc;

border-radius: 4px;
}


.tab button {
background-color: inherit;
float: left;
border: none;
outline: none;
cursor: pointer;
padding: 14px 16px;
transition: 0.3s;
border-radius: 4px;
}

.tab button:hover {
background-color: #ddd;
border-radius: 4px;
}

.tab button.active {
background-color: #ccc;
border-radius: 4px;
}

.tabcontent {
display: none;

border: 1px solid #ccc;
border-top: none;
border-radius: 4px;
} 



.button1 {
background-color: #4de75a; 
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;

font-size: 16px;

margin-top: 10px;
cursor: pointer;
border-radius: 4px;

}

.button2 {
background-color: #4de75a; 
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;

font-size: 16px;

margin-top: 10px;
cursor: pointer;
border-radius: 4px;
}

.button3 {
background-color: #4de75a;
border: none;
color: rgb(0, 0, 0);
padding: 15px 32px;
text-align: center;
text-decoration: none;

font-size: 16px;

margin-top: 10px;
cursor: pointer;
border-radius: 4px;
}

.button4 {
background-color: #4de75a; 
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
width: 100%;
margin-top: 10px;
cursor: pointer;
border-radius: 4px;
}

.label {
color: white;
padding: 8px;
}

.success {background-color: #4CAF50;} 
.info {background-color: #4de75a;
  font-family: Arial, monospace;
  border-radius: 4px;} 
.warning {background-color: #ff9800;} 
.danger {background-color: #f44336;} 
.other {background-color: #e7e7e7; color: rgb(255, 255, 255);} 


 .dropbtn {
    background-color: #4de75a;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }


 .dropitem {
  font-family: Arial, monospace;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 16px;
    font-size: 14px;
    border: none;
    cursor: pointer;
  }
  

  .dropbtn:hover, .dropbtn:focus {
    background-color: #4de75a;
    border-radius: 4px;
  }
  

  .dropdown {
    position: relative;
    display: inline-block;
    border-radius: 4px;
  }
  

  .dropdown-content {
    display: none;
    position: fixed;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
  }
  

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  

  .dropdown-content a:hover {background-color: #ddd}

  .show {display:block;} 