.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}
.example-toolbar {
  background-color: #67676f;
}
h1.example-app-name {
  margin-left: 30%;
  color: #f9faf7;
  font-size: 50px;
}
.matsnv {
  background-color: #109e8b;
  color: #f9faf7;
}
#btn {
  background-color: #67676f;
  border: none;
  text-decoration: none;
  width: 100px;
  height: 100%;
  background-image: url("../../../assets/mnwhit.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
         causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
  background: #5d5dbb;
  background: linear-gradient(to right, #59daeb, #5ff16b);
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
         `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.icono {
  margin-right: 10%;
}
