ngx-monaco-editor {
    height: 400px;
    width: 100%;
    padding: 15px;
}

.principal {
    background-color: black;
}

.contenedor {
    margin-bottom: 25px;
}

.op {
    margin-right: 2.4px;
}

.mas {
    float: right;
}

.tab {
    height: 40px;
    margin-right: 5px;
}

p {
    display: inline-block;
    margin-right: 10px;
}

.equis {
    display: inline-block;
    margin-right: 5px;
}

.equisa {
    display: inline-block;
    margin-top: -6px;
}

.tarjeta {
    border-radius: 10px;
}

.monacoCointeiner {
    margin-top: -40px;
}

.opcion {
    background-color: #1E1E1E;
}

.verde {
    background-color: #5db163;
    border-color: #5db163;
}

button:hover,
button:focus{
    text-decoration: none;
    outline: none;
    background: #363636;
}

.tab:hover,
.equisa:hover{
    text-decoration: none;
    outline: none;
    background: #363636;
}