/* You can add global styles to this file, and also import other style files */

@import '~codemirror/lib/codemirror.css';
@import '~codemirror/theme/idea.css';
@import '~codemirror/theme/oceanic-next.css';
@import '~codemirror/theme/gruvbox-dark.css';
@import '~codemirror/addon/fold/foldgutter.css';
@import '~codemirror/addon/lint/lint.css';

.CodeMirror {
    height: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }