<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" (click)="regresar()">Regresar</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Reportes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" (click)="Errores()">Reporte de errores</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item"  (click)="repoSimbolos()">Tabla de símbolos</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">CST XML ascendente</a>
          <a class="dropdown-item" href="#">CST XML descendente</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Reporte gramatical XML ascendente</a>
          <a class="dropdown-item" href="#">Reporte gramatical XML descendente</a>
        </div>
      </li>
    </ul>

  </div>
  <br>
  <br>
</nav>
  <div style="text-align: center;">
    <h2>Errores de archivos XML y XPath</h2>
  </div>
  <hr>
<div class="component">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Error</th>
        <th scope="col">Tipo</th>
        <th scope="col">Linea</th>
        <th scope="col">Columna</th>
        <th scope="col">Gramática</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of lista">
      <tr>
        <th>{{item.valor}}</th>
        <td>{{item.tipo}}</td>
        <td>{{item.linea}}</td>
        <td>{{item.columna}}</td>
        <td>XML</td>
      </tr>
    </tbody>
  </table>
</div>
