.App {
  /*text-align: center;
  background: -webkit-linear-gradient(left, #5CC6FB, #5EFB5C, #FBF65C);*/
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /*background-color: #ffffff;
  /*min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /*color: white;*/
}

.App-body {
  /*background-color: #ffffff;
  /*min-height: 100vh;*/
  width: 100%;
  display: flex;
  flex-direction: column;
  /*align-items: center;
  justify-content: center;*/
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.root {
  flex-grow: 1;
}

.menuButton {
  margin-right: 2em;
}

.paper {
  padding: 2em;
  /*text-align: center;*/
  background: transparent;
}

.button {
  display: 'block';
  margin-top: 2em;
}

.formControl {
  margin: 1em;
  padding: 5em;
  min-width: 10rem;
}

.row {
  padding: 1em;
  text-align: center;
}

.Boton {
  margin: 0.25em;
  border-radius: 00.25em;
}
