#principalTitle{
    font-size: 45px;
    font-weight: 280px;
}
.row{
    align-items: center;
    padding: 35px;
    padding-right: 0%;
}

#exceptionsRow{
    align-items: center;
    padding-left: 4%;
    padding-right: 0%;
}

.console{
    padding-top: 10px;
    padding-left: 6%;
    padding-right: 12%;
    margin: 15px;
}
.grammarReport{
    padding-top: 50px;
    padding-left: 6%;
    padding-right: 12%;
    margin: 15px;
}

input {
    border: none;
    background: #68bf60;
    color: #f2f2f2;
    padding: 5px;
    font-size: 12px;
    border-radius: 2px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease;
    margin-top: 20px;
    margin-bottom: 15px;
}

#exceptionsTable{
    margin: 6%;
    margin-right: 12% ;
}
#exceptionsTable2{
    margin: 6%;
    margin-right: 12% ;
}

#symbolsTable{
    margin-left: 6%;
    margin-bottom: 6%;
    margin-right: 12% ;
}

.xmlCst{
    margin-left: 6%;
    margin-right: 12%;
    margin: 6%;
}

.xpathCst{
    margin: 6%;
    margin-left: 6%;
    margin-right: 12%;
}