<table mat-table [dataSource]="simbolos" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
    The actual rendered columns are set as a property on the row definition" -->
    <!-- Position Column -->
    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.no}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="produccion">
      <th mat-header-cell *matHeaderCellDef> Produccion </th>
      <td mat-cell *matCellDef="let element"> {{element.produccion}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="accion">
      <th mat-header-cell *matHeaderCellDef> Accion </th>
      <td mat-cell *matCellDef="let element"> {{element.accion}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>