<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <div class="input-file">
          <input type="file" id="file" class="input-file-input" (change)=leerArchivo($event)/>
          <label for="file" class="input-file-btn">
          Seleccionar archivo
          </label>
      </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Guardar archivo</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Reportes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" (click)="Errores()">Reporte de errores</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item"  (click)="repoSimbolos()">Tabla de símbolos</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="CSTAsc()">CST XML</a>
          <a class="dropdown-item" (click)="ASTXPATH()">AST XPATH</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="ReporteGram()">Reporte gramatical XML</a>
        </div>
      </li>
    </ul>

  </div>
</nav>

<div class="col-sm-12">
  <br>
  <h5>Organización de Lenguajes y Compiladores 2: XML</h5>
  <hr>
  <button type="button" class="btn btn-light"(click)="compilar()">Analizar XML de forma ascendente</button>
  <button type="button" class="btn btn-light"(click)="Xmldesc()">Analizar XML de forma descendente</button>
  <button type="button" class="btn btn-light">Limpiar área de texto</button>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" *ngFor="let item of array">
          <a class={{item.active}} id={{item.tab}} data-toggle="tab" href="#{{item.id}}" role="tab" attr.aria-controls={{item.id2}} [attr.aria-selected]="item.estado">
            {{item.name}}
          </a>
      </li>
      <button type="button" class="btn btn-outline-success btn-circle" title="nuevo" data-toggle="tooltip" (click)="nuevo()"><i class="fas fa-plus"></i></button>
  </ul>
  <div class="tab-content" id="myTabContent">
      <div class={{item.active2}} id="{{item.id}}" role="tabpanel" attr.aria-labelledby={{item.tab}}  *ngFor="let item of array">
          <div style=" border: 1px solid #ccc;">
            <ngx-codemirror class="form-control" id="{{item.texto}}" rows="15"
          [options]="options"
          [(ngModel)]="archivo"
          [disabled]="readOnly"
          [autoFocus]="true"

            >
          </ngx-codemirror>
          </div>
      </div>
  </div>
</div>
<br>
<div class="col-sm-12">
  <br>
  <h5>XPath: consultas</h5>
  <hr>
<div class="input-group mb-3" style="padding-left: 3%; padding-right: 4%;">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">Consulta</span>
  </div>
  <input type="text" class="form-control" [(ngModel)]="xpath" aria-label="Default" aria-describedby="inputGroup-sizing-default">
</div>
<div class="m-0 row justify-content-center">
  <button type="button" class="btn btn-light" (click)="xpathASC()">Realizar consulta de forma ascendente</button>
  <button type="button" class="btn btn-light" (click)="xpathDESC()">Realizar consulta de forma descendente</button>
<button type="button" class="btn btn-light">Limpiar área de texto</button>
</div>
</div>
<br>
<div class="col-sm-12">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active text-uppercase" id="salida-tab" data-toggle="tab" href="#div-salida" role="tab" [attr.aria-selected]="true">
          Consola
        </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-uppercase" id="error-tab" data-toggle="tab" href="#div-error" role="tab" [attr.aria-selected]="false">
        Salida
      </a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="div-salida" role="tabpanel" attr.aria-labelledby="salida-tab">
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="8" [(ngModel)]="salida" readonly></textarea>
    </div>

    <div class="tab-pane fade" id="div-error" role="tabpanel" attr.aria-labelledby="error-tab">
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="8" [(ngModel)]="errores" readonly></textarea>
    </div>
</div>
</div>
