<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <div class="input-file">
          <input type="file" id="file" class="input-file-input" (change)=leerArchivo($event)/>
          <label for="file" class="input-file-btn">
          Subir XML
          </label>
      </div>
      </li>
      <li class="nav-item active">
        <div class="input-file">
          <input type="file" id="file2" class="input-file-input" (change)=leerArchivox($event)/>
          <label for="file2" class="input-file-btn">
          Subir XQuery
          </label>
      </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Reportes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" (click)="Errores()">Reporte de errores</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item"  (click)="repoSimbolos()">Tabla de símbolos</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="CSTAsc()">CST XML</a>
          <a class="dropdown-item" (click)="ASTXPATH()">AST XPATH</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="ReporteGram()">Reporte gramatical XML</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="ReporteOpt()">Reporte de Optimización</a>
        </div>
      </li>
      <li style="padding-left: 20px;">
        <a class="nav-link active" role="button" (click)="optimizarC3D()">Optimizar</a>
      </li>
    </ul>

  </div>
</nav>

<div class="col-sm-12">
  <br>
  <h5>Organización de Lenguajes y Compiladores 2: XML - XPath - XQuery</h5>
  <hr>

  <div style="display: block;">
      <!--ESTE ES EL TEXT ÁREA DE XML-->
    <div style="float: left; width: 50%;">
      <div style="text-align: center; padding-bottom: 20px; padding-top: 10px;">
        <button type="button" class="btn btn-light"(click)="compilar()">Analizar XML ASC</button>
        <button type="button" class="btn btn-light"(click)="Xmldesc()">Analizar XML DESC</button>
        <button type="button" class="btn btn-light" (click)="traducirXML()">Traducir XML</button>
      </div>
      <h5 style="text-align: center;">XML</h5>
      <ngx-codemirror class="form-control"  rows="15"
      [options]="options"
      [(ngModel)]="archivo"
      [disabled]="readOnly"
      [autoFocus]="true"
      ></ngx-codemirror>
    </div>
      <!--ESTE ES EL TEXT ÁREA DE XPATH-->
    <div style="float: left; width: 50%; padding-bottom: 40px;">
      <div style="text-align: center; padding-bottom: 20px; padding-top: 10px;">
        <button type="button" class="btn btn-light" (click)="AnalizarXQuery()">Ejecutar XQuery</button>
        <button type="button" class="btn btn-light" (click)="xpathDESC()">Traducir XQuery</button>
        <button type="button" class="btn btn-light" (click)="optimizarC3D()">Optimizar XQuery</button>
      </div>

      <h5 style="text-align: center;">XQuery</h5>
      <ngx-codemirror class="form-control"  rows="15"
      [options]="options2"
      [(ngModel)]="xquery"
      [disabled]="readOnly"
      [autoFocus]="true"
      ></ngx-codemirror>
    </div>
  </div>
</div>
<br>
<br>
<div class="col-sm-12">
  <h5 style="padding-top: 1%;">XPath: Consultas</h5>
  <hr>
<div class="input-group mb-3" style="padding-left: 3%; padding-right: 4%;">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">Consulta</span>
  </div>
  <input type="text" class="form-control" [(ngModel)]="xpath" aria-label="Default" aria-describedby="inputGroup-sizing-default">
</div>
<div class="m-0 row justify-content-center">
  <button type="button" class="btn btn-light" (click)="xpathASC()">Realizar Consulta ASC</button>
  <button type="button" class="btn btn-light" (click)="xpathDESC()">Realizar Consulta DESC</button>
  <button type="button" class="btn btn-light" (click)="xpathDESC()">Traducir XPath</button>
</div>
</div>
<br>
<div class="col-sm-12">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active text-uppercase" id="salida-tab" data-toggle="tab" href="#div-salida" role="tab" [attr.aria-selected]="true">
          Consola
        </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-uppercase" id="error-tab" data-toggle="tab" href="#div-error" role="tab" [attr.aria-selected]="false">
        Traduccion
      </a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="div-salida" role="tabpanel" attr.aria-labelledby="salida-tab">
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="15" [(ngModel)]="salida" readonly></textarea>
    </div>

    <div class="tab-pane fade" id="div-error" role="tabpanel" attr.aria-labelledby="error-tab">
    <!--
 <textarea class="form-control" id="exampleFormControlTextarea1" rows="8" [(ngModel)]="errores" readonly></textarea>
    -->
    <ngx-codemirror class="form-control"  rows="15" theme="dracula"
      [options]="options3"
      [(ngModel)]="traduccion"
      [disabled]="readOnly"
      [autoFocus]="true"
      ></ngx-codemirror>
    </div>
</div>
</div>
