* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(162, 180, 199);
}

/* MENU */
nav {
    background: #023859;
    display: flex;
    font-family: 'Hind', sans-serif;
    color: white;
    padding: 0 100px;
    justify-content: space-between;
}

nav span {
    vertical-align: center;
    line-height: 1.5;
    padding: 15px;
    opacity: .5;  
}
.btnCargar{
    
    width: 100%;
    color: white;
    font-size: 30px;
}
.btnCargarx{
    
    width: 49%;
    color: white;
    font-size: 30px;
}
.menu {
    display: flex;
    list-style: none;
}

.menu-item {
    margin-right: 1px ;
    padding: 15px;
    cursor: pointer;
    position: relative;
    width: 150px;
    color: #fff;
}

.menu-item a{
    text-decoration: none;
    color: #fff;
}

.menu-item.disabled{
    display: none;
}

.menu-item:hover {
    background: #045586;
}

.submenu {
    list-style: none;
    border: 1px solid black;
    display: none;
    width: 125%;
}

.menu-item:hover .submenu {
    display: block;
    position: absolute;
    line-height: 1.5;
    left: 0;
    top: 100%;
    border: none;
    z-index: 100;
}

.subitem {
    line-height: 1.5;
    padding: 10px;
    background: #011826;
}

.subitem:hover {
    background:#043c5f;
}

/* MAIN */
main {
    padding: 40px 30px;
    display: flex;
    justify-content: space-between;
}

/* EDITOR DE CODIGO*/
.tabs-container {
    position: relative;
    width: 50%;
}

.tabs {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.tab {
    border: 1px solid #0E1F26;
    line-height: 2.5;
    padding: 0 1em;
    background: #0E1F26;
    color: #fff;
    position: relative;
    top: 1px;
    border-bottom: none;
    cursor: pointer;
}

.tab.active {
    background: #03738C;
    z-index: 20;
    border: 1px solid #03738C;
}

.panels {
    position: relative;
    z-index: 10;
}

.panel {
    position: absolute;
    left: -1000%;
    display: none;
}

.panel.active {
    position: relative;
    left: 0;
    display: block;
}

/* CONSOLAS */
.consolas {
    width: 49%;
}

.consola {
    margin-bottom: 15px;
}

.consola h2 {
    font-family: 'Hind', sans-serif;
}

.consola textarea{
    resize: none;
    width: 100%;
    height: 305px;
    background: #000;
    color: #fff;
    padding: 10px;
}
.consoladx textarea{
    resize: none;
    width: 100%;
    height: 400px;
    background: #000;
    color: #fff;
    padding: 10px;
    float:left;
}
.consoladx3d textarea{
    resize: none;
    width: 100%;
    height: 400px;
    background: #000;
    color: #fff;
    padding: 10px;
    float:left;
}
.editor{
    color:  white;
    background-color: black;
    width: 100%;
    height: 300px;
    padding: 5px;
}
.div_table{
    width: 90%;
    padding-left: 5% ;
    display: none;
}
.table{
    padding: 20px;
    text-align: center;
    
}
#tbl_titulo>td{
    padding:30px;
    background: black;
    color: white;
    font-size: 20px;
    padding-left:30px;
    padding-right:30px;
    padding-top:10px;
    padding-bottom:10px;
}
.contenido>td{
    background-color: white;
    color: black;
    padding-left:30px;
    padding-right:30px;
    padding-top:10px;
    padding-bottom:10px;
}
h1{
    color: rgb(3, 4, 48);
    font-family: Arial;
}
#msgError{
    transition: 0.5s;
}