<mat-tab-group mat-stretch-tabs class="bg-dark" dynamicHeight="true" style="height: calc(100vh - 80px);"
  (selectedTabChange)="tabChanged($event)">

  <mat-tab label="XML">
    <ng-template matTabContent>
      <div style="height: calc(100vh - 116.5px);">
        <ngx-codemirror [(ngModel)]="contentXML" [options]="options"></ngx-codemirror>
      </div>
    </ng-template>
  </mat-tab>

  <ng-template ngFor let-tab [ngForOf]="tabs">
    <mat-tab label="NEW {{tab['id']}}">
      <ng-template matTabContent>
        <div style="height: calc(100vh - 116.5px);">
          <ngx-codemirror [(ngModel)]="tab['content']" [options]="options"></ngx-codemirror>
        </div>
      </ng-template>
    </mat-tab>
  </ng-template>

</mat-tab-group>


<nav class="navbar navbar-dark py-0 bg-dark navbar-expand-sm">
  <ul class="navbar-nav me-auto">
    <li class="nav-item upload-btn-wrapper">
      <button mat-icon-button color="primary" matTooltip="Subir archivo" matTooltipPosition="above">
        <mat-icon>cloud_upload</mat-icon>
      </button>
      <input type="file" (change)="cargar($event)">
    </li>
    <li class="nav-item">
      <button mat-icon-button color="primary" matTooltip="Descargar archivo" matTooltipPosition="above"
        (click)="guardar()">
        <mat-icon>cloud_download</mat-icon>
      </button>
    </li>
  </ul>

  <ul class="navbar-nav ms-auto">
    <li class="nav-item">
      <button mat-icon-button color="primary" matTooltip="Nueva pestaña" matTooltipPosition="above"
        (click)="agregarTab()">
        <mat-icon>add_circle_outline</mat-icon>
      </button>
    </li>
    <li class="nav-item">
      <button mat-icon-button color="primary" matTooltip="Ejecutar XML" matTooltipPosition="above"
      (click)="ejecutarXML()">
        <mat-icon>bug_report</mat-icon>
      </button>
    </li>
    <li class="nav-item">
      <button mat-icon-button color="primary" matTooltip="Ejecutar" matTooltipPosition="above">
        <mat-icon>play_arrow</mat-icon>
      </button>
    </li>
  </ul>
</nav>
