<div class="container">
  <div class="row">
    <div class="col-6 mt-3">
      <button type="button" class="btn btn-success" (click)="analizarXml()">Analisis Ascendente</button>
      <button type="button" class="btn btn-success" (click)="analizarXmlDesc()">Analisis Descendente</button>
      <!--
      <button type="button" class="btn btn-success" (click)="analizarXmlDesc()">Analisis Descendente</button>
      -->
      <button type="button" class="btn btn-success" (click)="addXml()">C3D</button>
    </div>
    <div class="col-6 mt-3">
      <button type="button" class="btn btn-success" (click)="execXpath()">Xpath Ascendente</button>
      <button type="button" class="btn btn-success" (click)="execXpathD()">Xpath Descendente</button>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="row">
        <div class="col-12 mt-1">
          <h2 id="name">Archivo: </h2>
        </div>
        <div class="col-12">
          <!--CODEMIRROR-->
          <div class="row">
            <div class="col-12">
              <ngx-codemirror id="xcode" [(ngModel)]="xcode" [options]="{
          lineNumbers: true,
          theme: 'material',
          mode: 'xml',
          htmlMode: true
          }">
              </ngx-codemirror>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-12 mt-1">
          <h2>Consola:</h2>
        </div>
        <div class="col-12">
          <textarea class="form-control" name="xpath" id="xpath" [(ngModel)]="consola" rows="12"></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="row pb-5">
    <div class="col-12 mt-1">
      <h2>Salida:</h2>
    </div>
    <div class="col-12 mt-1">
      <div class="form-group">
        <ngx-codemirror id="contenido" [(ngModel)]="salida" [options]="{
          lineNumbers: true,
          theme: 'material',
          mode: 'xml',
          htmlMode: true
          }">
        </ngx-codemirror>
        <!--<textarea class="form-control" name="contenido" id="contenido" [(ngModel)]="salida" rows="10"></textarea>-->
      </div>
    </div>
    <div class="col-12 mt-3">
      <!--FUNCION ABRIR ARCHIVO-->
      <button type="button" class="btn btn-success" (click)="reporteArbolA()">AST XML</button>
      <button type="button" class="btn btn-success" (click)="reporteArbolB()">CST XML</button>
      <button type="button" class="btn btn-success" (click)="reporteArbolC()">AST XPATH</button>
      <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#ModalSimbolTable" (click)="tablaSimbolosReport()">Tabla de
        Simbolos</button>
      <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#ModalErrorTable"
        (click)="tablaReportError()">Reporte de Errores</button>
      <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#ModalGramatical">Reporte Gramatical</button>
      <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#ModalGramaticalX">Reporte Gramatical Xpath</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12" id="report"></div>
  </div>
</div>

<!--MODAL-->
<div class="modal" tabindex="-1" id="ModalVer">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Contenido del archivo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <textarea class="form-control" name="contenido2" id="contenido2" rows="10"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--MODAL-->
<div class="modal" tabindex="-1" id="ModalAdded">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Entrada</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h4>Archivo agregado con exito</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" id="ModalGramatical">
  <div class="modal-dialog" style="max-width: 80%;">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="TitleReportGramatical"></h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body table-responsive" id="reportG"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" id="ModalGramaticalX">
  <div class="modal-dialog" style="max-width: 80%;">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="TitleReportGramaticalX"></h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body table-responsive" id="reportGX"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal" tabindex="-1" id="ModalSimbolTable">
  <div class="modal-dialog" style="max-width: 80%;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Tabla de simbolos</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Tipo</th>
              <th scope="col">Valor</th>
              <th scope="col">Ambito</th>
              <th scope="col">Stack</th>
              <th scope="col">Fila</th>
              <th scope="col">Col</th>
            </tr>
          </thead>
          <tbody *ngFor="let simbol of ts">
            <tr>
              <td>{{simbol.nombre}}</td>
              <td>{{simbol.tipo}}</td>
              <td>{{simbol.valor}}</td>
              <td>{{simbol.ambito}}</td>
              <td>{{simbol.stack}}</td>
              <td>{{simbol.fila}}</td>
              <td>{{simbol.columna}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" id="ModalSimbolTable">
  <div class="modal-dialog" style="max-width: 80%;">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="TitleSimbolTable"></h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" id="ModalErrorTable">
  <div class="modal-dialog" style="max-width: 80%;">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="TitleErrorTable"></h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body table-responsive" id="reportE"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>