.console
{
    background-color: black;
    color: blue;
}

footer{
    background-color: #555;
    color: white;
    padding: 15px;
  }


.Titulo{
    background-color: rgb(0, 0, 0);
    color: white;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
}

.subtitulo{
    background-color: rgb(0, 68, 255);
    color: white;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

body {
    background-color: black;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
  }

.button{
    background-color: rgb(0, 68, 255);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.txtarea{
    background-color: rgb(74, 113, 221);
    color: white;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    resize: none;
}

input[type="file"] {
    color: white;
    background-color: rgb(74, 113, 221);
    display: inline-block;
    cursor: pointer;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
}