<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" (click)="regresar()">Regresar</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Reportes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Reporte de errores</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="" (click)="repoSimbolos()">Tabla de símbolos</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="cstASC()">Reporte CST</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Reporte gramatical XML ascendente</a>
          <a class="dropdown-item" href="#">Reporte gramatical XML descendente</a>
        </div>
      </li>
    </ul>
    
  </div>
  <br>
  <br>
</nav>
<h1 style="text-align: center;">Reporte CST {{tiporeporte}}</h1>
<div id="visualizar" style=" height: 1200px;">
  
</div>
