*{text-decoration:none; list-style:none; margin:0px; padding:0px; outline:none;}
body{margin:0px; padding:0px; font-family: 'Open Sans', sans-serif;}
section{width:100%; max-width:1200px; margin:0px auto; display:table; position:relative;}
h1{margin:0px auto; display:table; font-size:26px; padding:40px 0px; color:#002e5b; text-align:center;}
h1 span{font-weight:500;}

header{width:100%; display:table; background-color:#000000; margin-bottom:50px;}
#logo{float:left; font-size:24px; text-transform:uppercase; color:#ffffff; font-weight:600; padding:20px 0px;}
nav{width:auto; float:right;}
nav ul{display:table; float:right;}
nav ul li{float:left;}
nav ul li:last-child{padding-right:0px;}
nav ul li a{color:#ffffff; font-size:18px; padding: 25px 20px; display:inline-block; transition: all 0.5s ease 0s;}
nav ul li a:hover{background-color:#ffffff; color:#000000; transition: all 0.5s ease 0s;}
nav ul li a:hover i{color:#000000; transition: all 0.5s ease 0s;}
nav ul li a i{padding-right:10px; color:#000000; transition: all 0.5s ease 0s;}


.content{display:table; margin-bottom:60px; width:900px;}
.content h2{font-size:18px; font-weight:500; color:#002e5b; border-bottom:1px solid #000000; display:table; padding-bottom:10px; margin-bottom:10px;}
.content p{font-size:14px; line-height:22px; color:#7c7c7c; text-align:justify;}

.form-control1{
    resize: none;
    background-color: black;
    color:white;
    width:900px;
    height:300px;
  }

.console{
    resize: none;
    background-color: black;
    color:white;
    width:1100px;
    height:200px;
  }

  .box {
    overflow: hidden;
}

.content {
    font-size: 15px;
    line-height: 20px;
    padding: 0 20px;
    text-align: justify;
}

.left {
    float: left;
    width: 50%;
}

.left .content {
    border-right: 5px solid #4BB495  ;
}

.right {
    float: right;
    width: 50%;
}

.btnPrincipal{
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .btnPrincipal:hover{
    color: #008CBA;
    background-color: #85a1aa;
  }

  .btnConsultar{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  
  .btnConsultar:hover{
    color: #4CAF50;
    background-color: #8ac58c;
  }